* {
    margin: 0;
    padding: 0;
}

main {
    user-select: none;
    -webkit-user-seletct: none;
    -moz-user-seletct: none;
    -ms-user-seletct: none;
    background-color: black;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
}

main h1 {
    display: grid;
    justify-content: center;
    align-items: center;
    color: red;
    z-index: 99999;
    width: 100%;
    height: 100vh;
}